body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514e;
  line-height: 2;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

hr {
  border-style: none;
  border-top: dotted 20px;
  width: 20%;
  color: #EAF6F6;
  margin: 100px auto 100px auto;
}

.copyright {
  color: #EAf6f6;
}

.footer-link {
  color: #11999E;
  padding: 0 30px 0 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: -webkit-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -webkit-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.code {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.game {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile-pic {
  width: 250px;
  height: 250px;
}

.top-container {
  background-color: #e8e8e8;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: white;
  padding: 100px 0;
}

.bottom-container {
  background-color: #30475e;
  padding: 50px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
